* {
  margin: 0;
}
.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app {
  background-color: #fafafa;
}
.app__headerImage {
  width: 50px;
  object-fit: contain;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
.app_headerImagee {
  width: 15%;
}
.app__posts {
  padding: 20px;
}